<%- include('header.ejs') %>

<div class="container">
    <h1>New Product</h1>

    <form method="POST" enctype="multipart/form-data">
  
      <div class="mb-3">
        <label for="productName" class="form-label">Name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          id="productName"
        >
      </div>
  
      <div class="mb-3">
        <label for="productPrice" class="form-label">Price</label>
        <input type="number" name="price" class="form-control" id="productPrice">
      </div>

      <div class="mb-3">
        <label for="productImage" class="form-label">Upload image</label>
        <input type="file" name="image" class="form-control" id="productImage" accept="image/png, image/jpeg, image/webp">
      </div>

      <div class="mb-3">
        <p class="mb-1">Tags</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="tags" type="checkbox" value="gaming" id="tagGaming">
            <label class="form-check-label" for="tagGaming">
              Gaming
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="tags" type="checkbox" value="clothes" id="tagClothes" checked>
            <label class="form-check-label" for="tagClothes">
              Clothes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="tags" type="checkbox" value="toys" id="tagToys" checked>
            <label class="form-check-label" for="tagToys">
              Toys
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="tags" type="checkbox" value="others" id="tagOthers" checked>
            <label class="form-check-label" for="tagOthers">
              Others
            </label>
          </div>
      </div>
      
  
      <button type="submit" class="btn btn-primary">Submit</button>

      <p><%= errorName %></p>
      <p><%= errorPrice %></p>
      <p><%= errorImage %></p>
      
    </form>
</div>

<%- include('footer.ejs') %>